.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-left: 23px;
  background-color: #282c34;
}

.card-container {
  display: flex;
  gap:  13px;
  padding-top: 12px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.button {
  border: none;
  background-color: #61dafb;
  color: #282c34;
  padding: 12px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 15px 15px;
 
}
.button:hover{
  background-color: #00b1e2;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
